@media screen and ( min-width: 782px ) {
	.spider-cache table th.blog-id,
	.spider-cache table th.count {
		width: 10%;
	}

	.spider-cache table th.cache-group {
		width: 12%;
	}

	.spider-cache table th.keys {
		width: 60%;
	}
}

@media screen and ( max-width: 782px ) {
	div#TB_window.thickbox-loading {
		width: 100% !important;
		height: 100% !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		top: 0 !important;
		left: 0 !important;
	}

	div.spider-cache table.wp-list-table tr.sc-no-results td.column-no-results,
	div.spider-cache table.wp-list-table tr.sc-refresh-results td.column-refreshing {
		display: table-cell;
	}
}

.spider-cache .tablenav .alignright form {
	display: inline-block;
}

#TB_ajaxContent table.sc-item td,
#TB_ajaxContent table.sc-item th {
	padding: 0;
	margin: 0;
}

#TB_ajaxContent table.sc-item th {
	vertical-align: middle;
	width: 20%;
}

#TB_ajaxContent table.sc-item pre {
	font-family: monospace;
	display: inline-block;
	padding: 5px 10px;
	margin: 3px;
	background-color: #eee;
	line-height: 2em;
	overflow: auto;
	white-space: pre;
	tab-size: 4;
}

#TB_ajaxContent table.sc-item pre span {
	display: inline;
}

.spider-cache .sc-toolbar-secondary {
	float: left;
	height: 100%;
	margin: 12px 5px;
}

.spider-cache .sc-toolbar-primary {
	max-width: 33%;
	height: 100%;
}

.spider-cache .item .row-actions {
	display: inline-block;
}

.spider-cache .row-updating .check-column {
	background: url('../img/spinner.gif') 10px 9px no-repeat;
}
@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	.spider-cache .row-updating .check-column {
		background-image: url('../img/spinner-2x.gif');
		background-size: 20px 20px;
	}
}

.spider-cache .row-updating .check-column input {
	visibility: hidden;
}
